# Investment Case Group Project
### Spark Funds Investment Case Analysis

#### We will be using the numpy and pandas library for performing the analysis, thus importing them.

In [1]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Checkpoint 1: Data Cleaning 1

### We are going to load the companies text file into a pandas dataframe, inspect it and clean it.

In [2]:
# We will use Pandas read_csv method to read data from the provided text file. 
# We will use the separator as tabspace and encoding as latin_1 for this function.
# My code for importing the Company text file with proper encoding
companies = pd.read_csv("companies.txt",sep="\t",encoding="latin_1")

# Removing duplicate values if any
companies.drop_duplicates()

# Removing special characters by decoding them to ASCII values
companies.permalink=companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore').str.strip().str.upper()
companies.name=companies.name.str.encode('utf-8').str.decode('ascii', 'ignore')

In [3]:
# Getting rows & column count for companies dataframe
companies.shape

(66368, 10)

In [4]:
# Output of companies dataframe
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/ORGANIZATION/01GAMES-TECHNOLOGY,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/ORGANIZATION/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/ORGANIZATION/1-2-3-LISTO,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
10,/ORGANIZATION/1-4-ALL,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN
11,/ORGANIZATION/1-618-TECHNOLOGY,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013
12,/ORGANIZATION/1-800-DENTIST,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
13,/ORGANIZATION/1-800-DOCTORS,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
14,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
15,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
16,/ORGANIZATION/1-OF-99,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014
17,/ORGANIZATION/10-20-MEDIA,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
18,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
19,/ORGANIZATION/1000-CORKS,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008
20,/ORGANIZATION/1000-MARKETS,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009
21,/ORGANIZATION/1000CHI,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
22,/ORGANIZATION/1000LOOKZ,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008
23,/ORGANIZATION/1000MEMORIES,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
24,/ORGANIZATION/1000MUSEUMS-COM,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
25,/ORGANIZATION/1001-MENUS,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
26,/ORGANIZATION/1001PHARMACIES-COM,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
27,/ORGANIZATION/1006-TV,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009
28,/ORGANIZATION/100DU-TV,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN
29,/ORGANIZATION/100E-COM,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
...,...,...,...,...,...,...,...,...,...,...
66338,/ORGANIZATION/ZYKIS,Zykis,http://zykis.com,Automotive|Data Security|Education|Kids|Portal...,closed,USA,CA,Anaheim,Irvine,27-10-2006
66339,/ORGANIZATION/ZYLIE-THE-BEAR,Zylie the Bear,http://zyliethebear.com,E-Commerce,operating,USA,CT,Hartford,Greenwich,01-01-2009
66340,/ORGANIZATION/ZYLUN-STAFFING,Zylun Staffing,http://www.zylun.com,Software,operating,USA,UT,Salt Lake City,Lehi,01-01-2010
66341,/ORGANIZATION/ZYME-SOLUTIONS,Zyme Solutions,http://www.zymesolutions.com,Hardware|Hardware + Software,operating,USA,CA,SF Bay Area,Redwood Shores,01-01-2004
66342,/ORGANIZATION/ZYMERGEN,Zymergen,http://www.zymergen.com,Biotechnology,operating,USA,CA,SF Bay Area,Emeryville,01-01-2013
66343,/ORGANIZATION/ZYMETIS,Zymetis,http://www.zymetis.com,Biotechnology,closed,USA,MD,"Washington, D.C.",College Park,01-01-2006
66344,/ORGANIZATION/ZYMEWORKS,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
66345,/ORGANIZATION/ZYMOCHEM,Zymochem,http://www.zymochem.com,Specialty Chemicals,operating,USA,CA,SF Bay Area,San Francisco,01-05-2013
66346,/ORGANIZATION/ZYMPI,Zympi,http://www.zympi.com,Mobile|Networking|Web Hosting,operating,USA,CA,Ontario - Inland Empire,Redlands,03-09-2010
66347,/ORGANIZATION/ZYMR-INC-,"Zymr, Inc.",http://www.zymr.com,Android|Apps|Cloud Computing|Cloud Infrastruct...,operating,USA,CA,SF Bay Area,Santa Clara,NaN
66348,/ORGANIZATION/ZYNCD,Zyncd,http://www.zyncd.com,Crowdsourcing|Knowledge Management,operating,GBR,H9,London,London,01-01-2014
66349,/ORGANIZATION/ZYNCRO,Zyncro,http://www.zyncro.com,Cloud Computing|Enterprise 2.0|Enterprise Soft...,acquired,ESP,56,Barcelona,Barcelona,01-09-2009
66350,/ORGANIZATION/ZYNERBA-PHARMACEUTICALS,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,ipo,USA,PA,Philadelphia,Radnor,01-01-2014
66351,/ORGANIZATION/ZYNERGY-PROJECTS-SERVICES,Zynergy Projects & Services,http://www.zynergygroup.net/,Clean Technology,operating,IND,25,Chennai,Chennai,NaN
66352,/ORGANIZATION/ZYNGA,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
66353,/ORGANIZATION/ZYNGENIA,Zyngenia,http://www.zyngenia.com,Biotechnology,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-2008
66354,/ORGANIZATION/ZYNSTRA,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
66355,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
66356,/ORGANIZATION/ZYPE,Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,NY,New York City,New York,01-01-2013
66357,/ORGANIZATION/ZYPSEE,Whisk (formerly Zypsee),http://whisk.me,Public Transportation,operating,USA,NY,New York City,New York,01-01-2011
66358,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
66359,/ORGANIZATION/ZYRRA,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
66360,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN
66361,/ORGANIZATION/ZYTOPROTEC,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007
66362,/ORGANIZATION/ZZISH,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014
66363,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/ORGANIZATION/ERON,ERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/ORGANIZATION/ASYS-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/ORGANIZATION/NOVATIFF-REKLAM-VE-TANTM-HIZMETL...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

### Now, we are going to load the rounds2 csv file into a pandas dataframe, inspect it and clean it.

In [5]:
# We will use Pandas read_csv method to read data from the provided csv file. 
# We will use the default separator and encoding as latin_1 for this function.
# My code for importing the Rounds2 csv file with proper encoding
rounds2 = pd.read_csv("rounds2.csv",encoding="latin_1")

# Removing duplicate values if any
rounds2.drop_duplicates()

# Removing special characters by decoding them to ASCII values
rounds2.company_permalink=rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore').str.strip().str.upper()

In [6]:
# Getting rows & column count for rounds2 dataframe
rounds2.shape

(114949, 6)

In [7]:
# Output of rounds2 dataframe
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/ORGANIZATION/01GAMES-TECHNOLOGY,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0
10,/ORGANIZATION/0XDATA,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0
11,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0
12,/ORGANIZATION/0XDATA,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
13,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,NaN,05-02-2014,150000.0
14,/ORGANIZATION/1,/funding-round/5de6d8828aef7d925d97918d15727670,undisclosed,NaN,05-02-2013,NaN
15,/ORGANIZATION/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,NaN,20-07-2011,1000050.0
16,/ORGANIZATION/1-2-3-LISTO,/funding-round/6de4609e894495105bc791ed64361288,seed,NaN,18-02-2013,40000.0
17,/ORGANIZATION/1-4-ALL,/funding-round/e97a192e13ea0ee3c4f71136b4f3ec16,equity_crowdfunding,NaN,21-04-2013,NaN
18,/ORGANIZATION/1-618-TECHNOLOGY,/funding-round/83b8f4c7d37ecef5e001a5e953bf461a,equity_crowdfunding,NaN,22-01-2014,NaN
19,/ORGANIZATION/1-800-DENTIST,/funding-round/5274aacc211163fc7c86539ce94bbacc,undisclosed,NaN,19-08-2010,NaN
20,/ORGANIZATION/1-800-DOCTORS,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,NaN,02-03-2011,1750000.0
21,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0
22,/ORGANIZATION/1-MAINSTREAM,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
23,/ORGANIZATION/1-OF-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,NaN,13-12-2014,100000.0
24,/ORGANIZATION/10-20-MEDIA,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,NaN,11-01-2011,800000.0
25,/ORGANIZATION/10-20-MEDIA,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,NaN,18-06-2009,500000.0
26,/ORGANIZATION/10-20-MEDIA,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,NaN,28-12-2011,500000.0
27,/ORGANIZATION/10-20-MEDIA,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,NaN,30-03-2010,250000.0
28,/ORGANIZATION/10-MINUTES-WITH,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0
29,/ORGANIZATION/10-MINUTES-WITH,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,NaN,01-01-2013,400000.0
...,...,...,...,...,...,...
114919,/ORGANIZATION/ZYNSTRA,/funding-round/dee233b3434185c14b3352034f72d798,angel,NaN,18-09-2012,2325000.0
114920,/ORGANIZATION/ZYOMYX-INC,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12000000.0
114921,/ORGANIZATION/ZYOMYX-INC,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7500000.0
114922,/ORGANIZATION/ZYOMYX-INC,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0
114923,/ORGANIZATION/ZYOMYX-INC,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,NaN,29-01-2010,555016.0
114924,/ORGANIZATION/ZYPE,/funding-round/24e8134882bf6c4dcc385abba0acd5d9,seed,NaN,01-04-2015,1700000.0
114925,/ORGANIZATION/ZYPE,/funding-round/c9f5097b3617c7539aa47c8b448163be,seed,NaN,27-10-2015,1600000.0
114926,/ORGANIZATION/ZYPSEE,/funding-round/472c6f7940522552fcca465b8cd3deef,seed,NaN,25-09-2013,2150000.0
114927,/ORGANIZATION/ZYPSEE,/funding-round/c67e22c5448435adaf5a2d101e449dde,seed,NaN,26-07-2013,NaN
114928,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/3c3ae0f177e01a04deea811e1828be35,private_equity,NaN,15-02-2013,20967.0
114929,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/55f33b179dd6f4516315348c1e8350c6,angel,NaN,01-01-2008,2007363.0
114930,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5400000.0
114931,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0
114932,/ORGANIZATION/ZYRRA,/funding-round/2a13fa52848ace2760b224a350a76b40,seed,NaN,15-11-2010,445000.0
114933,/ORGANIZATION/ZYRRA,/funding-round/39baf35e59eb3efc5409cd4c5eaa50e1,seed,NaN,21-10-2010,50000.0
114934,/ORGANIZATION/ZYRRA,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,NaN,18-10-2012,140500.0
114935,/ORGANIZATION/ZYRRA,/funding-round/cc8cd96a500332d5b4f4bcbddb306099,angel,NaN,15-12-2010,875000.0
114936,/ORGANIZATION/ZYSTOR,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0
114937,/ORGANIZATION/ZYTOPROTEC,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,A,29-01-2013,2686600.0
114938,/ORGANIZATION/ZZISH,/funding-round/34b560f672bebeb339a5efa3b27eae5d,grant,NaN,25-02-2015,400000.0
114939,/ORGANIZATION/ZZISH,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,NaN,31-10-2014,400000.0
114940,/ORGANIZATION/ZZISH,/funding-round/73721fffc980d228f051e87422aa8732,seed,NaN,24-03-2014,320000.0
114941,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1587301.0
114942,/ORGANIZATION/ZZZZAPP-COM,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,NaN,01-11-2011,7000.0
114943,/ORGANIZATION/ZZZZAPP-COM,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,33149.0
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/ORGANIZATION/ERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/ORGANIZATION/NOVATIFF-REKLAM-VE-TANTM-HIZMETL...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

### Preparing Table 1.1 using the two dataframes i.e. *companies* and *rounds2*

In [8]:
#Results Expected: Table 1.1

#Making set of unique values from rounds2.company_permalink & companies.permalink
u_c_in_r = set(rounds2.company_permalink)
u_c_in_c = set(companies.permalink)
# Counting the values
print("unique companies present in rounds2: ",len(u_c_in_r))   #1. 66368
print("unique companies present in companies: ",len(u_c_in_c)) #2. 66368

#3. permalink

# Checking if all companies in rounds2 are present in companies dataframe
print("Are all the companies in rounds2 a subset of all companies in companies dataframe: ",set(u_c_in_r).issubset(u_c_in_c)) # True 
print("Count of companies in the rounds2 file which are not present in companies: ",len(u_c_in_r.difference(u_c_in_c))) # 0

#4. N

# Merging the two dataframes
master_frame=pd.merge(rounds2, companies, left_on='company_permalink', right_on='permalink')

print("number of rows & columns in master_frame before data cleaning", master_frame.shape)

# Frher cleaning data in the merged dataframe
master_frame["raised_amount_usd"].describe()
# Upon analysis of "raised_amount_usd" field, we came to know that there are multiple entries which contain 0 which isn't correct.
# Thus we ignore the rows with 0 as "raised_amount_usd" for the below calculations.
master_frame = master_frame[master_frame['raised_amount_usd'] != 0]
# Dropping rows where 'funding_round_type','raised_amount_usd','category_list','country_code' are NaN, since these fields are necessary.
master_frame = master_frame.dropna(subset=['funding_round_type','raised_amount_usd','category_list','country_code'])

#Getting rows & column count for master_frame dataframe
print("number of rows & columns in master_frame after data cleaning", master_frame.shape) #5. 88166

unique companies present in rounds2:  66368
unique companies present in companies:  66368
Are all the companies in rounds2 a subset of all companies in companies dataframe:  True
Count of companies in the rounds2 file which are not present in companies:  0
number of rows & columns in master_frame before data cleaning (114949, 16)
number of rows & columns in master_frame after data cleaning (88166, 16)

### Table 1.1: Understand the Data Set 
| Question | Response |
| -------- | -------- |
| How manyÂ unique companiesÂ are present inÂ rounds2? | 66368 |
| How manyÂ unique companiesÂ are present inÂ companies? | 66368 |
| In theÂ companiesÂ data frame, which column can be used as the unique key for each company? Write theÂ name of the column. | permalink |
| Are there any companies in the rounds2 file which are not present inÂ companies? Answer yes or no:Â Y/N | N |
| Merge the two data frames so that all variables (columns) in theÂ companiesÂ frame are added to theÂ rounds2Â data frame.Name the merged frameÂ master_frame.Â How many observations are present inÂ master_frame? | 88166 |
**Note:** 88166 is the number of observations present after data cleaning, initially we had 114949 observations inÂ master_frame

## Checkpoint 2: Funding Type Analysis

### Analysing which investment type is the most suitable for Spark Funds.

In [9]:
# Calculate the average investment amount for each of the four funding types (venture, angel, seed, and private equity) and report the answers in Table 2.1

print("Average investment amount for each of the four funding types:")
print("venture: {:,.2f}".format(round(master_frame[(master_frame['funding_round_type'] == "venture")]["raised_amount_usd"].mean(),2)))               #1. 11,729,865.71
print("angel: {:,.2f}".format(round(master_frame[(master_frame['funding_round_type'] == "angel")]["raised_amount_usd"].mean(),2)))                   #2. 977,572.63
print("seed: {:,.2f}".format(round(master_frame[(master_frame['funding_round_type'] == "seed")]["raised_amount_usd"].mean(),2)))                     #3. 750,319.05
print("private_equity: {:,.2f}".format(round(master_frame[(master_frame['funding_round_type'] == "private_equity")]["raised_amount_usd"].mean(),2))) #4. 73,979,134.15

Average investment amount for each of the four funding types:
venture: 11,729,865.71
angel: 977,572.63
seed: 750,319.05
private_equity: 73,979,134.15

### Table 2.1: Average Values of Investments for Each of these Funding Types 

| Question | Response |
| -------- | -------- |
| Average funding amount ofÂ venture type | 11729865.71 |
| Average funding amount ofÂ angel type | 977572.63 |
| Average funding amount ofÂ seed type | 750319.05 |
| Average funding amount ofÂ private equity type | 73979134.15 |
| Considering that Spark Funds wants to invest betweenÂ 5 to 15 million USDper investment round, which investment type is the most suitable for it? | venture |

## Checkpoint 3: Country Analysis

### Analysing which countries are most suitable for Spark Funds.

In [10]:
# Finding country list according to the requirement:
# top nine countries which have received the highest total funding (across ALL sectors for the chosen investment type)
condition = master_frame[(master_frame['funding_round_type'] == "venture")].groupby(by=['country_code']).raised_amount_usd.sum().sort_values(ascending = False)[0:9]
country_list = list(condition.index)

# Making top9 DataFrame using marster_frame filtered upon venture and country_list
top9 = master_frame[(master_frame['funding_round_type'] == "venture")&(master_frame['country_code'].isin(country_list))]

# Verifying if we got dataframe only, as specifically mentioned in the question.
print(type(top9))

# Displaying country-wise sum of raised_amount_usd in descending order
# We have used the lambda function to convert scientific notation to more readable format
top9.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False).map(lambda x: '{:,.2f}'.format(x))

<class 'pandas.core.frame.DataFrame'>

country_code
USA    420,068,029,342.00
CHN     39,338,918,773.00
GBR     20,072,813,004.00
IND     14,261,508,718.00
CAN      9,482,217,668.00
FRA      7,226,851,352.00
ISR      6,854,350,477.00
DEU      6,306,921,981.00
JPN      3,167,647,127.00
Name: raised_amount_usd, dtype: object

### Table 3.1: Analysing the Top 3 English-Speaking Countries

| Question | Response |
| -------- | -------- |
| 1. Top English-speaking country | USA |
| 2. Second English-speaking country | GBR |
| 3. Third English-speaking country | IND |
**Note:** We used [this](http://www.emmir.org/fileadmin/user_upload/admission/Countries_where_English_is_an_official_language.pdf) link as suggested in requirements to filter out English-speaking country

## Checkpoint 4: Sector Analysis 1

### Preparing for analysis of which sectors are most suitable for Spark Funds.

#### Adding *primary_sector* information *master_frame* dataframe according to requirement

In [11]:
# Extracting the primary sector of each category list from the category_list column
master_frame['primary_sector'] = master_frame['category_list'].apply(lambda x: str(x).split('|')[0])

# Output of updated master_frame dataframe
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
6,/ORGANIZATION/01GAMES-TECHNOLOGY,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0,/ORGANIZATION/01GAMES-TECHNOLOGY,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,Games
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,Biotechnology

#### Loading and cleaning the *mapping table* and storing it in *mapping* dataframe

In [12]:
mapping = pd.read_csv("mapping.csv",encoding="latin_1") # My code for importing the mapping csv file
# Reviewing data in mapping dataframe
mapping

# Data cleaning
# Upon close observation, we find multiple '0' in middle of text making the text meaningless in column category_list
# However, upon closer observation, we found that replacing '0' with 'na' makes the text meaningful in each case in column category_list
# Thus replacing each occurence of '0' which is followed by text with 'na' in column category_list
# mapping function to provide the value for column main_sector based upon the values in mapping file
def clean_data(val):
    if ('0' in str(val[0])) and ('.0' not in str(val[0])):
        return str(val[0]).replace('0', 'na')
    else:
        return val[0]

# Using clean_data to clean the category_list column values based upon our observation
mapping['category_list'] = mapping[['category_list']].apply(lambda val:clean_data(val), axis=1)

# Output of mapping dataframe
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

#### Mapping each company with one of the main sectors using the *master_frame* and *mapping* dataframes

In [13]:
# Converting the mapping keys (mapping.category_list and companies.primary_sector) to same case (upper case)
mapping['category_list'] = mapping.apply(lambda val:str(val['category_list']).strip().upper(), axis=1)
master_frame['primary_sector'] = master_frame.apply(lambda val:str(val['primary_sector']).strip().upper(), axis=1)

# Function to return the main_sector based upon row values
def get_main_sector (row):
    if row['Automotive & Sports'] == 1 : return 'Automotive & Sports'
    elif row['Blanks'] == 1 : return 'Blanks'
    elif row['Cleantech / Semiconductors'] == 1 : return 'Cleantech / Semiconductors'
    elif row['Entertainment'] == 1: return 'Entertainment'
    elif row['Health']  == 1: return 'Health'
    elif row['Manufacturing'] == 1: return 'Manufacturing'
    elif row['News, Search and Messaging'] == 1: return 'News, Search and Messaging'
    elif row['Others'] == 1: return 'Others'
    elif row['Social, Finance, Analytics, Advertising'] == 1: return 'Social, Finance, Analytics, Advertising'
    if row['Automotive & Sports']+row['Cleantech / Semiconductors']+row['Entertainment']+row['Health']+row['Manufacturing']+row['News, Search and Messaging']+row['Others']+row['Social, Finance, Analytics, Advertising'] > 1: return 'Multiple'
    if row['Automotive & Sports']+row['Cleantech / Semiconductors']+row['Entertainment']+row['Health']+row['Manufacturing']+row['News, Search and Messaging']+row['Others']+row['Social, Finance, Analytics, Advertising'] < 1: return 'Blanks'

# Using get_main_sector to populate main_sector column of mapping datafield
mapping['main_sector']=mapping.apply(lambda row: get_main_sector(row),axis=1)

# Merging the companies and mapping dataframe to get companies along with their main sector, calling this dataframe company_sector
master_frame=pd.merge(master_frame, mapping[['category_list','main_sector']], left_on='primary_sector', right_on='category_list', how='left')

master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,MEDIA,MEDIA,Entertainment
1,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,APPLICATION PLATFORMS,APPLICATION PLATFORMS,"News, Search and Messaging"
2,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,CURATED WEB,CURATED WEB,"News, Search and Messaging"
3,/ORGANIZATION/01GAMES-TECHNOLOGY,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0,/ORGANIZATION/01GAMES-TECHNOLOGY,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,GAMES,GAMES,Entertainment
4,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,BIOTECHNOLOGY,BIOTECHNOLOGY,Cleantech / Semiconductors

## Checkpoint 5: Sector Analysis 2

### Analysing which sectors are most suitable for Spark Funds considering country and amount of investment.

#### Creating dataframes D1, D2 and D3 as per given requirements.

In [14]:
# Dataframe for contry_code "USA", funding_round_type "venture" and raised_amount_usd in inclusive range of 5 million to 15 million
D1 = master_frame[(master_frame['country_code']=="USA") & (master_frame['funding_round_type']=="venture") & (master_frame['raised_amount_usd']>=5000000) & (master_frame['raised_amount_usd']<=15000000) ]

# Dataframe for contry_code "GBR", funding_round_type "venture" and raised_amount_usd in inclusive range of 5 million to 15 million
D2 = master_frame[(master_frame['country_code']=="GBR") & (master_frame['funding_round_type']=="venture") & (master_frame['raised_amount_usd']>=5000000) & (master_frame['raised_amount_usd']<=15000000) ]

# Dataframe for contry_code "IND", funding_round_type "venture" and raised_amount_usd in inclusive range of 5 million to 15 million
D3 = master_frame[(master_frame['country_code']=="IND") & (master_frame['funding_round_type']=="venture") & (master_frame['raised_amount_usd']>=5000000) & (master_frame['raised_amount_usd']<=15000000) ]

#### Analysing total number (or count) of investments and total amount invested in each main sector for USA

In [15]:
print("Total number of investments (count): ", D1['funding_round_permalink'].count()) # 12064
print("Total amount of investment (USD): {:,.2f}".format(D1['raised_amount_usd'].sum())) # 107,766,584,223.00
print(D1.groupby(['main_sector'])['funding_round_permalink'].count().sort_values(ascending=False)[0:3])
# Others                                     2950
# Social, Finance, Analytics, Advertising    2714
# Cleantech / Semiconductors                 2350
print("For the top sector count-wise, company that received the highest investment: ", 
      D1[(D1['main_sector']=="Others")].groupby(['name'])['raised_amount_usd'].sum().sort_values(ascending=False).index[0])                                  # Virtustream
print("For the second-best sector count-wise, company that received the highest investment: ",
      D1[(D1['main_sector']=="Social, Finance, Analytics, Advertising")].groupby(['name'])['raised_amount_usd'].sum().sort_values(ascending=False).index[0]) # SST Inc. (Formerly ShotSpotter)

Total number of investments (count):  12064
Total amount of investment (USD): 107,766,584,223.00
main_sector
Others                                     2950
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2350
Name: funding_round_permalink, dtype: int64
For the top sector count-wise, company that received the highest investment:  Virtustream
For the second-best sector count-wise, company that received the highest investment:  SST Inc. (Formerly ShotSpotter)

#### Analysing total number (or count) of investments and total amount invested in each main sector for GBR

In [16]:
print("Total number of investments (count): ", D2['funding_round_permalink'].count()) # 621
print("Total amount of investment (USD): {:,.2f}".format(D2['raised_amount_usd'].sum())) # 5,379,078,691.00
print(D2.groupby(['main_sector'])['funding_round_permalink'].count().sort_values(ascending=False)[0:3])
# Others                                     147
# Social, Finance, Analytics, Advertising    133
# Cleantech / Semiconductors                 130
print("For the top sector count-wise, company that received the highest investment: ", 
      D2[(D2['main_sector']=="Others")].groupby(['name'])['raised_amount_usd'].sum().sort_values(ascending=False).index[0])                                  # Electric Cloud
print("For the second-best sector count-wise, company that received the highest investment: ",
      D2[(D2['main_sector']=="Social, Finance, Analytics, Advertising")].groupby(['name'])['raised_amount_usd'].sum().sort_values(ascending=False).index[0]) # Celltick Technologies

Total number of investments (count):  621
Total amount of investment (USD): 5,379,078,691.00
main_sector
Others                                     147
Social, Finance, Analytics, Advertising    133
Cleantech / Semiconductors                 130
Name: funding_round_permalink, dtype: int64
For the top sector count-wise, company that received the highest investment:  Electric Cloud
For the second-best sector count-wise, company that received the highest investment:  Celltick Technologies

#### Analysing total number (or count) of investments and total amount invested in each main sector for IND

In [17]:
print("Total number of investments (count): ", D3['funding_round_permalink'].count()) # 328
print("Total amount of investment (USD): {:,.2f}".format(D3['raised_amount_usd'].sum())) # 2,949,543,602.00
print(D3.groupby(['main_sector'])['funding_round_permalink'].count().sort_values(ascending=False)[0:3])
# Others                                     110
# Social, Finance, Analytics, Advertising     60
# News, Search and Messaging                  52
print("For the top sector count-wise, company that received the highest investment: ", 
      D3[(D3['main_sector']=="Others")].groupby(['name'])['raised_amount_usd'].sum().sort_values(ascending=False).index[0])                                  # FirstCry.com
print("For the second-best sector count-wise, company that received the highest investment: ",
      D3[(D3['main_sector']=="Social, Finance, Analytics, Advertising")].groupby(['name'])['raised_amount_usd'].sum().sort_values(ascending=False).index[0]) # Manthan Systems

Total number of investments (count):  328
Total amount of investment (USD): 2,949,543,602.00
main_sector
Others                                     110
Social, Finance, Analytics, Advertising     60
News, Search and Messaging                  52
Name: funding_round_permalink, dtype: int64
For the top sector count-wise, company that received the highest investment:  FirstCry.com
For the second-best sector count-wise, company that received the highest investment:  Manthan Systems

### Table 5.1 : Sector-wise Investment Analysis

| Question | USA | GBR | IND |
| -------- | --- | --- | --- |
| 1. Total number of investments (count) | 12064 | 621 | 328 |
| 2. Total amount of investment (USD) | 1,07,76,65,84,223 | 5,37,90,78,691 | 2,94,95,43,602 |
| 3. Top sectorÂ (based on count of investments)	| Others | Others | Others |
| 4. Second-best sectorÂ (based on count of investments) | Social, Finance, Analytics, Advertising | Social, Finance, Analytics, Advertising | Social, Finance, Analytics, Advertising |
| 5.Â Third-best sector (based on count of investments) | Cleantech / Semiconductors	| Cleantech / Semiconductors | News, Search and Messaging |
| 6. Number of investments in the top sector (refer to point 3) | 2950 | 147 | 110 |
| 7. Number of investments in the second-best sector (refer to point 4) | 2714 | 133 | 60 |
| 8. Number of investments in the third-best sector (refer to point 5) | 2350 | 130 | 52 |
| 9. For the top sector count-wise (point 3), which company received the highest investment? | Virtustream | Electric Cloud | FirstCry.com |
| 10. For the second-best sector count-wise (point 4), which company received the highest investment? | SST Inc. (Formerly ShotSpotter) | Celltick Technologies	| Manthan Systems |

## Checkpoint 6: Plots

### Gathering data for verification of plot 1 in Tableau

In [18]:
# total investments (globally) in venture
print("Venture: ", master_frame[(master_frame['funding_round_type']=="venture")]['funding_round_permalink'].count())
# total investments (globally) in seed
print("Seed: ", master_frame[(master_frame['funding_round_type']=="seed")]['funding_round_permalink'].count())
# total investments (globally) in private equity
print("Private Equity: ", master_frame[(master_frame['funding_round_type']=="private_equity")]['funding_round_permalink'].count())

Venture:  47786
Seed:  21024
Private Equity:  1819

### Gathering data for verification of plot 2 in Tableau

In [19]:
# Displaying country-wise sum of raised_amount_usd in descending order
# We have used the lambda function to convert scientific notation to more readable format
top9.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False).map(lambda x: '{:,.2f}'.format(x))

country_code
USA    420,068,029,342.00
CHN     39,338,918,773.00
GBR     20,072,813,004.00
IND     14,261,508,718.00
CAN      9,482,217,668.00
FRA      7,226,851,352.00
ISR      6,854,350,477.00
DEU      6,306,921,981.00
JPN      3,167,647,127.00
Name: raised_amount_usd, dtype: object

### Gathering data for verification of plot 3 in Tableau

In [20]:
print("USA")
print(D1.groupby(['main_sector'])['funding_round_permalink'].count().sort_values(ascending=False)[0:3])
print("GBR")
print(D2.groupby(['main_sector'])['funding_round_permalink'].count().sort_values(ascending=False)[0:3])
print("IND")
print(D3.groupby(['main_sector'])['funding_round_permalink'].count().sort_values(ascending=False)[0:3])

USA
main_sector
Others                                     2950
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2350
Name: funding_round_permalink, dtype: int64
GBR
main_sector
Others                                     147
Social, Finance, Analytics, Advertising    133
Cleantech / Semiconductors                 130
Name: funding_round_permalink, dtype: int64
IND
main_sector
Others                                     110
Social, Finance, Analytics, Advertising     60
News, Search and Messaging                  52
Name: funding_round_permalink, dtype: int64

### Exporting master_frame, D1, D2, D3 to excel for lading in Tableau directly (if needed)

In [21]:
# This code will take longer time to execute and must be run only if it is required.
# Using ExcelWriter function of pandas to export dataframes to excel file (filename = InvestmentCaseGroupProject.xlsx)
writer = pd.ExcelWriter('InvestmentCaseGroupProject.xlsx')
# Exporting each dataframe to different worksheet in excel
# Exporting selected field that could be used for plotting
master_frame[['company_permalink','funding_round_permalink','funding_round_type','raised_amount_usd','name','country_code','main_sector']].to_excel(writer,'master_frame')
D1.to_excel(writer,'D1')
D2.to_excel(writer,'D2')
D3.to_excel(writer,'D3')
writer.save()